{% extends "base.html" %}

{% block title %}Регистрация пользователя{% endblock %}

{% block content %}
{{id_image}}
    
<img src="{{MEDIA_URL}}{{im.image}}">
{% if username %}
    {% if im.user == username %}
    <form action="." name="deleteimage" method="POST">
        {% csrf_token %}
        <input type="hidden"  name="delimage" value="{{im.id}}">
        <br><input type="submit" value="Удалить изображение">
    </form>
    {%endif%}


    <div style="width: 40%" name="notelist" >
        {% for note in image_note%}
            {% if note.user == user %}
                <br>{{note.text_note}}
            {% endif %}
        {% endfor%}

        <form action="." method="POST">
            {% csrf_token %}
            <textarea name="notearea"></textarea>
            <input type="submit" value="Добавить заметку">
        </form>
    </div>
{%endif%}

{% endblock %}