<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block title%}{%endblock%}</title>
</head>
<body>
<div style="width: 100%; height: 30px; background: #FFFF00;">
    <div style="width: 90%; float: left;">
    <a href="/">Главная</a>  
    {% if username %}
        <a href="/userdashboard/">Кабинет пользователя</a>
    {% endif %}
    </div>
    {%if username %}
        <div style="margin:0% 0% 0% 94.5%; ">
            <a href="/logout/"><input type="submit" value="Выйти"/></a>
        </div>
    {%else%}
        <div style="margin:0% 0% 0% 94.5%;">
            <a href="/login/"><input type="submit" value="Войти"/></a>
        </div>
    {% endif %}
</div>
{% block content %} {% endblock %}

</body>
</html> 